{% extends '_base.html' %}
{% load i18n %}

{% load reservation_extras %}

{% block title %}{% trans "Reservations Table" %}{% endblock title %}

{% block content %}
  <div class="reservations">
    <h1 class="reservations-table">{% trans "Reservations Table" %}</h1>
    <table>
      <tr>
        <th>{% trans "Rental Name" %}</th>
        <th>{% trans "Reservation ID" %}</th>
        <th>{% trans "Checkin" %}</th>
        <th>{% trans "Checkout" %}</th>
        <th>{% trans "Previous Reservation ID" %}</th>
      </tr>
      {% for reservation in reservations %}
        <tr>
          <td>{{reservation.rental.name}}</td>
          <td>{{reservation.id}}</td>
          <td >{{reservation.checkin}}</td>
          <td>{{reservation.checkout}}</td>

          {% with previous_reservation=reservations|previous_item:forloop.counter0 %}
            {% if previous_reservation.rental.name == reservation.rental.name %}          
              <td > {{previous_reservation.id}}</td>
            {% else %}
              <td >-----------------------</td>
            {% endif %}        
          {% endwith %}          
        </tr>
      {% endfor %}    
    </table>
  </div>
{% endblock content %}

